<app-timeline-scrubber
  [(rangeOffset)]="rangeOffset"
  [(rangeWidth)]="rangeWidth"
></app-timeline-scrubber>
<app-timeline-background
  [rangeOffset]="rangeOffset"
  [rangeWidth]="rangeWidth"
  [width]="width"
  [style.height]="backgroundHeight + 'px'"
  [style.cursor]="backgroundCursor"

  (pointerdown)="backgroundGrab($event)"
  (pointermove)="backgroundDrag($event)"
  (pointerup)="backgroundRelease($event)"
></app-timeline-background>
<div
  class="app-timeline__marker"
  [style.top]="markerPos + 'px'"
  [style.transform]="getMarkerTranslation()"
  (pointerdown)="markerGrab($event)"
  (pointermove)="markerDrag($event)"
  (pointerup)="markerRelease($event)"
>
  <svg class="app-timeline__marker__head">
    <path d="M 0,0 H 14 V 22 L 7,26 L 0,22 Z"></path>
  </svg>
  <div
    class="app-timeline__marker__line"
    [style.height]="markerHeight + 'px'"
  ></div>
</div>
<div
  class="app-timeline__hotspots"
  [style.height]="timelineHeight + 'px'"
  [style.top]="barHeight + 'px'"
>
  <app-timeline-hotspot
    class="app-timeline__hotspot"
    [ngClass]="{'app-timeline__hotspot--selected': editor.selectedHotspot == hotspot }"
    [rangeOffset]="rangeOffset"
    [rangeWidth]="rangeWidth"
    [width]="width"
    *ngFor="let hotspot of field.data.hotspots"
    [hotspot]="hotspot"
  ></app-timeline-hotspot>
</div>
