@import "../../core/core.scss";

:host {
  display: block;
  fill: $color-primary-light;
  margin: -16px;
  width: 32px;
  height: 32px;
}

.app-canvas-hotspot {
  &__icon {
    width: 32px;
    height: 32px;
  }
}
