.app-hotspot-edit-dialog {
  &__body {
    display: flex;
    flex-direction: column;
  }

  &__buttongroup {
    display: flex;
  }

  &__actions {
    display: flex;
    justify-content: space-between;
  }
}
