.app-hotspot-edit-dialog {
  &__body {
    display: flex;
    flex-direction: column;
  }

  &__buttongroup {
    display: flex;
  }

  &__actions {
    display: flex;
    justify-content: space-between;
  }

  &__cta {
    display: flex;
    flex-direction: column;
    height: 57px;
    transition: height 0.5s, margin 0.5s;
    margin: 5px 10px;
    overflow: hidden;

    &--hidden {
      height: 0px;
      margin-top: 0;
      margin-bottom: 0;
    }
  }

  &__iframe {
    border: 0;
  }

  &__iframe-container {
    display: flex;
    flex-direction: column;
    overflow: hidden;
    overflow-y: scroll;
    margin-bottom: 16px;
    flex-shrink: 1000;
  }
}
