:host {
  width: 100%;
  height: 500px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.app-player-canvas {
  &__container {
    position: absolute;
    display: block;
  }

  &__hotspot {
    position: absolute;
  }
}
