@import "./core/core.scss";

:host {
  width: 100%;
  background-color: $color-lightest-grey;
  color: $color-ext-text;
}

.app-root {
  &__title {
    color: #666;
    font-size: 13px;
    margin: 5px 0;
  }

  &__main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow: hidden;
  }

  &__toolbar {
    transition: margin-left 0.5s;
    &--hide {
      margin-left: -40px;
    }
  }

  &__videogroup {
    width: 100%;
    height: 500px;
    display: flex;
  }

  &__videofill {
    background-color: $color-ext-videobg;
    flex: 1;
  }

  &__vis {
    height: 100%;
    background-color: black;
  }

  &__canvas {
    margin-top: -500px;
  }

  &__mode {
    position: absolute;
  }
}
