<ng-container *ngIf="!vis.active">
  <div class="app-root__title" *ngIf="title && !fullscreen">{{ title }}</div>
  <div class="app-root__main" [ngClass]="{'app-root__main--fullscreen': fullscreen}">
    <app-mode-buttons class="app-root__mode"></app-mode-buttons>
    <div class="app-root__videogroup" [ngClass]="{'app-root__videogroup--fullscreen': fullscreen}">
      <app-toolbar
        class="app-root__toolbar"
        [ngClass]="{ 'app-root__toolbar--hide': !active }"
      ></app-toolbar>
      <div class="app-root__videofill">
        <app-video-player class="app-root__video" [ngClass]="{'app-root__video--fullscreen': fullscreen}"></app-video-player>
        <app-player-canvas class="app-root__canvas" [ngClass]="{'app-root__canvas--fullscreen': fullscreen}" [fullscreen]="fullscreen"></app-player-canvas>
        <app-error-display class="app-root__error" [ngClass]="{'app-root__error--fullscreen': fullscreen}" *ngIf="videoError"></app-error-display>
      </div>
    </div>
    <app-editor class="app-root__editor" [ngClass]="{'app-root__editor--inactive': disableEditor, 'app-root__editor--fullscreen': fullscreen}"></app-editor>
  </div>
</ng-container>
<ng-container *ngIf="vis.active">
  <div class="app-root__vis">
    <app-video-player class="app-root__video" [style.height]="'100%'" [style.position]="'absolute'" [controls]="true"></app-video-player>
    <app-player-canvas class="app-root__canvas" [style.height]="'100%'" [style.margin-top]="0" [vis]="true"></app-player-canvas>
  </div>
</ng-container>

