$color-ext-text: #CCCCCC;
$color-ext-videobg: black;
$color-ext-toolbar: #333333;
$color-ext-editor-1: #333333;
$color-ext-editor-2: #3D3D3D;
$color-ext-selectbg: #2E3E44;
$color-ext-scrubberbg: #3D3D3D;
$color-ext-timelinebg: #3D3D3D;
$color-ext-timeline-hotspots: rgba(0, 0, 0, 0.3);
$color-ext-timeline-marker: rgba(255, 255, 255, 0.66);
$color-ext-control-border: #262626;
$color-ext-hotspot-line: #999999;
$color-ext-hotspot-fill: #262626;
$color-ext-icon-button: #262626;
