$color-ext-videobg: black;
$color-ext-toolbar: #333333;
$color-ext-editor-1: #333333;
$color-ext-editor-2: #3D3D3D;
$color-ext-scrubberbg: #3D3D3D;
$color-ext-control-border: #262626;
$color-ext-hotspot-line: #999999;
$color-ext-hotspot-fill: #262626;
$color-ext-icon-button: #262626;
