$color-ext-text: black;
$color-ext-videobg: white;
$color-ext-toolbar: white;
$color-ext-editor-1: white;
$color-ext-editor-2: white;
$color-ext-selectbg: #f2fafe;
$color-ext-scrubberbg: #f2f2f2;
$color-ext-timelinebg: #cccccc;
$color-ext-timeline-hotspots: rgba(255, 255, 255, 0.8);
$color-ext-timeline-marker: black;
$color-ext-control-border: #f2f2f2;
$color-ext-hotspot-line: #747980;
$color-ext-hotspot-fill: white;
$color-ext-icon-button: transparent;
