@import "../../core/core.scss";

:host {
  position: relative;
  height: 32px;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  overflow: hidden;
}

@keyframes dash {
  0% {
    background-position: 0px 0px;
  }
  100% {
    background-position: -8px 0px; /* Dash stride */
  }
}

.app-timeline-hotspot {
  &__keyframe {
    width: 14px;
    height: 14px;
    border: 1px solid $color-ext-hotspot-line;
    margin: -8px;
    background-color: $color-ext-hotspot-fill;
    transform: rotate(45deg);
    position: absolute;
    z-index: 4;
    transition: background-color 0.25s, border-color 0.25s;

    &:hover {
      background-color: $color-primary-lightest;
      border-color: $color-primary-lighter;
    }

    &--selected {
      border-color: $color-primary;
    }
  }

  &__line {
    width: 100px;
    height: 3px;
    position: absolute;
    opacity: 1;

    transition: background-color 0.25s, opacity 0.25s;

    &:hover {
      height: 5px;
      margin-top: -1px;
      margin-bottom: -1px;
      opacity: 1;
    }

    &--visible {
      background-color: $color-ext-hotspot-line;

      &:hover {
        background-color: $color-primary-lighter;
      }
    }

    &--invisible {
      background: linear-gradient(to right, transparent 50%, $color-ext-hotspot-line 50%);
      background-size: 8px 3px;
      animation: dash 0.33s linear infinite;
      opacity: 0;
    }
  }
}
