@import "../../core/core.scss";

:host {
  display: flex;
  height: 32px;
  border: 1px solid transparent;
}

.app-hotspot {
  &__name {
    flex: 1;
    height: 32px;
    padding: 6px;
    box-sizing: border-box;
    font-size: 16px;
    line-height: 20px;
  }

  &__buttons {
    display: flex;
    align-items: center;

    @include withTheme() {
      color: t($color-ext-hotspot-icon-bg);
    }

    button {
      height: 28px;
      width: 28px;
      line-height: 24px;
      mat-icon {
        font-size: 20px;
      }
    }
  }

  &__add {
    @include withTheme() {
      color: t($color-ext-hotspot-icon);
    }
  }

  &__remove {
    @include withTheme() {
      color: t($color-ext-hotspot-icon);
    }
  }
}
