.mat-tooltip-panel .mat-tooltip {
  margin: 5px;
  max-width: 250px;
  padding-left: 8px;
  padding-right: 8px;
  overflow: hidden;
  word-wrap: break-word;
  white-space: initial;
  text-overflow: ellipsis;
  font-size: 10px;
  padding-top: 2px;
  padding-bottom: 2px;
}
